h1, h2, h3, h4 {
    color: var(--accent);
}

ul {
    list-style: disc;
    padding-left: var(--space-8);
}

/*Нумерованный список*/
ol {
    list-style: decimal;
    padding-left: var(--space-8);
}

pre {
    padding: 0;
    /*padding: 14px 16px;
    border-radius: 12px;
    overflow: auto;
    font-size: 14px;
    line-height: 1.5;*/
    /*background: #2b2d30;
    padding: 12px;
    border-radius: 6px;
    overflow-x: auto;
    color: #a9b7c6;
    font-size: 14px;
    line-height: 1.4;
    border: 1px solid #4b4e50;
    margin: 10px 0;*/
}

pre code {
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    line-height: 1.5;
}

pre code.hljs {
    tab-size: 4;        /* стандарт */
    -moz-tab-size: 4;  /* Firefox */
    -o-tab-size: 4;    /* старый Opera */
    padding: var(--space-1) var(--space-2) !important;
}

code {
    font-family: "JetBrains Mono", monospace;
    background: #2b2b2b;
    color: #f8f8f2;
    border-radius: 4px;
    font-size: 0.9em;
}

hr {
    border: none;
    height: 1px;
    background: var(--bg-border);
}

blockquote.note {
    border-left: 4px solid #ffb347;
    padding-left: 12px;
    margin-left: 0;
    font-style: italic;
}