h1, h2, h3, h4 {
    color:  #d7dde4;
    font-weight: 600;
}

ul {
    list-style: disc;
    padding-left: var(--space-8);
}

/*Нумерованный список*/
ol {
    list-style: decimal;
    padding-left: var(--space-8);
}

pre {
    padding: 0;
}

pre code {
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    line-height: 1.5;
}

pre code.hljs {
    tab-size: 4;        /* стандарт */
    -moz-tab-size: 4;  /* Firefox */
    -o-tab-size: 4;    /* старый Opera */
    padding: var(--space-1) var(--space-2) !important;
}

code {
    font-family: "JetBrains Mono", monospace;
    background: #2b2b2b;
    color: #f8f8f2;
    border-radius: 4px;
    font-size: 0.9em;
}

hr {
    border: none;
    height: 1px;
    background: var(--bg-border);
}

blockquote.note {
    border-left: 4px solid var(--color-warning);
    padding-left: 12px;
    margin-left: 0;
    font-style: italic;
}

.orange {
    color: var(--color-warning);
}

.green {
    color: var(--color-success);
}

.red {
    color: var(--color-error);
}