<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/github-dark.min.css">
    <script src="/static/js/highlight.min.js"></script>
</head>
<body>
{{ template "header" . }}

<main>
    <div class="container">
        <form method="get" action="/book">
            <label>
                <select name="chapter_id" onchange="this.form.submit()">
                    <option value="" disabled selected>Выберите главу</option>
                    {{ range .chapters }}
                    <option value="{{ .ID }}"
                            {{ if eq $.chapter_id .ID }}selected{{ end }}
                    >{{ .Name }}</option>
                    {{ end }}
                    <option value="" disabled>------------</option>
                    {{ range .tasks }}
                    <option value="{{ .ID }}"
                            {{ if eq $.chapter_id .ID }}selected{{ end }}
                    >{{ .Name }}</option>
                    {{ end }}
                </select>
            </label>
        </form>
        <div class="scrollable-content">
            {{ if eq .chapter_id 9 }}
                {{ template "book.channels" . }}
            {{ else if eq .chapter_id 12 }}
                {{ template "book.defer" . }}
            {{ else if eq .chapter_id 2 }}
                {{ template "book.slices" . }}
            {{ else if eq .chapter_id -1 }}
                {{ template "task.go1" . }}
            {{ else }}
                <div class="muted">Выберите главу</div>
            {{ end }}
        </div>
    </div>
</main>

{{ template "footer" . }}
<script>hljs.highlightAll();</script>
</body>
</html>