<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Чат</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
{{ template "header" . }}

<main>
    <div class="container">
        <div class="chat">
            <div id="status"></div>
            <div id="messages" class="chat-messages"></div>

            <div class="chat-input-row">
                {{ template "component.inputWithClear" dict
                "ID" "msgInput"
                "Class" "chat-message-input"
                "Placeholder" "Сообщение"
                "MaxLength" "10"
                }}
                <button id="sendBtn" class="btn" disabled><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</main>

{{ template "footer" . }}

<script type="module">
    import {initChat} from "/static/js/bundle.js"

    const myUserId = "{{ .user_id }}";
    const token = "{{ .ws_token }}";
    const port = "{{ .port }}";
    const msgInput = document.getElementById("msgInput");

    initChat({
        userId: myUserId,
        token: token,
        port: port,
        status: document.getElementById("status"),
        messages: document.getElementById("messages"),
        input: msgInput,
        sendBtn: document.getElementById("sendBtn")
    });

    msgInput.focus();
</script>

</body>
</html>