<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Чат</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
{{ template "header" . }}

<main>
    <div class="container">
        <div class="chat">
            <div id="status"></div>
            <div id="messagesDiv" class="chat-messages"></div>

            <div class="chat-input-row">
                {{ template "component.inputWithClear" dict
                "ID" "msgInput"
                "Class" "chat-message-input"
                "Placeholder" "Сообщение"
                "MaxLength" "40"
                }}
                <button id="sendBtn" class="btn" disabled><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</main>

{{ template "footer" . }}

<script type="module">
    import {parseAndAddMessage, initChat, getCookie} from "/static/js/bundle.js"
    // import {parseAndAddMessage, initChat} from "/static/js/chat.js"
    // import {getCookie} from "/static/js/common.js"

    const myUserId = "{{ .user_id }}";
    const token = getCookie("vago_token");

    const port = "{{ .port }}";
    const msgInput = document.getElementById("msgInput");
    const messagesData = JSON.parse(`{{.messages_json}}`)
    console.log("messagesData", messagesData)

    const messagesDiv = document.getElementById("messagesDiv")

    initChat({
        userId: myUserId,
        token: token,
        port: port,
        status: document.getElementById("status"),
        messages: messagesDiv,
        input: msgInput,
        sendBtn: document.getElementById("sendBtn")
    });

    msgInput.focus();

    messagesData.forEach((item) => {
        parseAndAddMessage(messagesDiv, item, myUserId)
    })
</script>

</body>
</html>