{{ define "header" }}
<header>
    <h2>{{.capture}}</h2>
    <div class="menu">
        <div>
            <a href="/" class="btn"><i class="fa-solid fa-house"></i></a>
            <a href="/book" class="btn">
                <div class="icon-item">
                    <i class="fa-solid fa-book"></i>
                    <span>Книга</span>
                </div>
            </a>
            <a href="/tasks" class="btn">
                <div class="icon-item">
                    <i class="fa-solid fa-list-check"></i>
                    <span>Задачи</span>
                </div>
            </a>
            <a href="/chat" class="btn">
                <div class="icon-item">
                    <i class="fa-solid fa-comment"></i>
                    <span>Чат</span>
                </div>
            </a>
            {{if .user_id}}
            {{if .is_admin}}
            <a href="/messages" class="btn"><i class="fa-solid fa-comment"></i></a>
            <a href="/users" class="btn"><i class="fa-solid fa-users"></i></a>
            <a href="/grpc-test" class="btn"><i class="fa-solid fa-j"></i></a>
            {{end}}
            {{end}}
        </div>

        <div>
            <span class="greetings">Приветствую, {{.username}}!</span>
            {{if .user_id}}
            <form action="/logout" method="POST" style="display:inline;">
                <button class="btn" id="logBtn">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </button>
            </form>
            {{else}}
            <form action="/login" method="GET" style="display:inline;">
                <button class="btn">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                </button>
            </form>
            {{end}}
        </div>
    </div>
</header>
{{ end }}