<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Vago</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

{{ template "header" . }}

<main>
    <div class="container">
        {{if .user_id}}
        <div class="list">
            <div class="item">
                <div>
                    <h3>Token</h3>
                    <div>Status: {{.token_status}}</div>
                    <div>Expires: {{.token_expire_at}}</div>
                </div>
            </div>

            <div class="item">
                <div>
                    <h3>User info</h3>
                    <div>Username: {{.username}}</div>
                    <div>Role: {{.role}}</div>
                    <div>E-mail: {{.email}}</div>
                </div>
            </div>

            <div class="item">
                <div>
                    <h3>Refresh token</h3>
                    <div>Status: {{.refresh_token_status}}</div>
                    <div>Expires: {{.refresh_token_expire_at}}</div>
                </div>
            </div>
        </div>
        {{else}}
        <span class="greetings">Hello, {{.username}}!</span>
        <a href="/login">Sign in</a>
        <a href="/register">Sign up</a>
        {{end}}
    </div>
</main>

<footer>
    <span>© 2025 Vago (<a href="https://www.instagram.com/vadmark_in_kyrgyzstan/" target="_blank">Автор</a>)</span>
</footer>
</body>
</html>