<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
{{ template "header" . }}

<main>
    <div class="container">
        <form class="form-add" method="POST" action="/login">
            {{ template "component.inputWithClear" dict
                "ID" "loginInput"
                "Name" "login"
                "Placeholder" "Введите логин"
                "Required" "true"
            }}
            {{ template "component.inputWithClear" dict
                "ID" "passwordInput"
                "Name" "password"
                "Placeholder" "Введите пароль"
                "Required" "true"
            }}
            <div>
                <button id="submitBtn" class="btn" type="submit">Войти</button>
                {{if .error}}<span class="error-msg">{{.error}}</span>{{end}}

            </div>
            <span>
                <a href="/register">Регистрация</a>
            </span>
        </form>
    </div>
    <script>
        const loginInput = document.querySelector('input[name="login"]');
        const passwordInput = document.querySelector('input[name="password"]');
        const submitBtn = document.getElementById("submitBtn")

        loginInput.addEventListener("input", updateState);
        passwordInput.addEventListener("input", updateState);

        function updateState() {
            const login = loginInput.value.trim();
            const password = passwordInput.value.trim();
            setDisabledSubmitBtn(login, password);
        }

        function setDisabledSubmitBtn(login, password) {
            submitBtn.disabled = login === "" || password === "";
        }

        updateState();
    </script>
</main>

{{ template "footer" . }}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".clear-btn[data-clear]").forEach(btn => {
            btn.addEventListener("click", () => {
                btn.closest(".input-wrap").querySelector("input").value = "";
            });
        });

        document.querySelectorAll("input[data-required='true']").forEach(input => {
            input.required = true;
        });
    });
</script>
</body>
</html>