<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/github-dark.min.css">
    <script src="/static/js/highlight.min.js"></script>
</head>
<body>
{{ template "header" . }}

<main>
    <div class="container">
        <form method="get" action="/questions">
            <label>
                <select name="topic_id" onchange="this.form.submit()">
                    <option value="" disabled selected>Выберите тему</option>
                    {{ range .topics }}
                    <option value="{{ .ID }}"
                            {{ if eq $.topic_id .ID }}selected{{ end }}
                    >
                        {{ .Name }}
                    </option>
                    {{ end }}
                </select>
            </label>
        </form>

        <div class="scrollable-content">
            {{range .questions}}
            <div class="panel" id="message-{{.ID}}">
                <div>
                    <p>{{.ID}}: <b>{{.Text}}</b></p>

                    {{if .Code}}
                    <pre><code class="language-go">{{.Code}}</code></pre>
                    {{end}}

                    {{range .Answers}}
                    <div style="font-size: small">
                        <span>{{.ID}}) {{.Text}}</span>
                        {{if .IsCorrect}}
                        <span class="correct">✔</span>
                        {{end}}
                    </div>
                    {{else}}
                    <div class="empty">Ответов пока нет</div>
                    {{end}}
                    <div style="background: #2e6230 !important; border-color: #3fa34d;">{{.Explanation}}</div>
                </div>
            </div>
            {{else}}
            <p class="empty">Вопросов нет</p>
            {{end}}
        </div>
    </div>
</main>

{{ template "footer" . }}
<script>hljs.highlightAll();</script>
</body>
</html>