<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админка викторины</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
{{ template "header" . }}

<main>
    <div class="container">
        <div class="list">
            <div class="item">
                <div style="display: flex; flex-direction: column; align-items: start; gap: 4px; width: 100%;">
                    <div style="display: flex; align-items: center; justify-content: start; gap: 4px; width: 100%;">
                        <form class="form-add" action="/runSeed" method="POST">
                            <div>
                                <button type="submit" class="btn">Run</button>
                            </div>
                        </form>
                        <form class="form-add" action="/questionsDeleteAll" method="POST">
                            <div>
                                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </form>
                        <span>Вопросов: {{.questions_count}}</span>
                    </div>

                    <div style="width: 100%;">
                        <form class="form-add" action="/questions" method="POST">
                            {{ template "component.inputWithClear" dict
                            "ID" "textInput"
                            "Name" "text"
                            "Placeholder" "Введите вопрос"
                            "MaxLength" "30"
                            "Required" "true"
                            "Value" "Вопрос"
                            }}

                            <label>
                                <textarea name="code" placeholder="Пример кода"></textarea>
                            </label>

                            {{ template "component.inputWithClear" dict
                            "ID" "answer1Input"
                            "Name" "answer1"
                            "Placeholder" "Ответ 1"
                            "Value" "Ответ 1"
                            "Required" "true"
                            }}

                            {{ template "component.inputWithClear" dict
                            "ID" "answer2Input"
                            "Name" "answer2"
                            "Placeholder" "Ответ 2"
                            "Value" "Ответ 2"
                            "Required" "true"
                            }}

                            {{ template "component.inputWithClear" dict
                            "ID" "answer3Input"
                            "Name" "answer3"
                            "Placeholder" "Ответ 3"
                            "Value" "Ответ 3"
                            "Required" "true"
                            }}

                            {{ template "component.inputWithClear" dict
                            "ID" "answer4Input"
                            "Name" "answer4"
                            "Placeholder" "Ответ 4"
                            "Value" "Ответ 4"
                            "Required" "true"
                            }}

                            <div style="display: flex; align-items: center; justify-content: start; gap: 4px; width: 100%;">
                                <span>Правильный:</span>
                                <label>
                                    <select id="correctAnswer" name="correct_answer_index" required>
                                        <option value="0">Ответ 1</option>
                                        <option value="1">Ответ 2</option>
                                        <option value="2">Ответ 3</option>
                                        <option value="3">Ответ 4</option>
                                    </select>
                                </label>

                                <span>Тема:</span>
                                <label>
                                    <select id="topic" name="topic_id" required>
                                        {{ range .topics }}
                                        <option value="{{ .ID }}">{{ .Name }}</option>
                                        {{ end }}
                                    </select>
                                </label>
                            </div>


                            <label>
                                <textarea name="explanation" placeholder="Объяснение решения"></textarea>
                            </label>

                            <div>
                                <button type="submit" class="btn"><i class="fa-solid fa-plus"></i>Создать вопрос
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="scrollable-content">
            <div class="list">
                {{ range .topics }}
                <span>{{.ID}}: {{.Name}} ({{.QuestionsCount}})</span>
                {{end}}

                {{range .questions}}
                <div class="item" id="message-{{.ID}}">
                    <div>
                        <p>{{.ID}}: <b>{{.Text}}</b></p>

                        <div class="answers">
                            {{range .Answers}}
                            <div class="answer">
                                <span>{{.ID}}) {{.Text}}</span>
                                {{if .IsCorrect}}
                                <span class="correct">✔</span>
                                {{end}}
                            </div>
                            {{else}}
                            <div class="empty">Ответов пока нет</div>
                            {{end}}
                        </div>
                    </div>
                </div>
                {{else}}
                <p class="empty">Вопросов нет</p>
                {{end}}
            </div>
        </div>
    </div>
</main>

{{ template "footer" . }}
<script type="module" src="/static/js/bundle.js"></script>
</body>
</html>