<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админка викторины</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
{{ template "header" . }}

<main>
    <div class="container">
        <div class="list">
            <div class="item">
                <div class="messages-control">
                    <form class="form-add" action="/messages" method="POST">
                        <div>
                            <button type="submit" class="btn" disabled><i class="fa-solid fa-plus"></i>Создать вопрос
                            </button>
                        </div>
                    </form>
                    <form class="form-add" action="/questionsDeleteAll" method="POST">
                        <div>
                            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i>Удалить все
                                вопросы
                            </button>
                        </div>
                    </form>
                    <span>Вопросов: {{.questions_count}}</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="scrollable-content">
            <div class="list">
                {{ range .topics }}
                <span>{{.ID}}: {{.Name}}</span>
                {{end}}

                {{range .questions}}
                <div class="item" id="message-{{.ID}}">
                    <div>
                        <p>{{.ID}}: <b>{{.Text}}</b></p>

                        <div class="answers">
                            {{range .Answers}}
                            <div class="answer">
                                <span>{{.ID}}) {{.Text}}</span>
                                {{if .IsCorrect}}
                                <span class="correct">✔</span>
                                {{end}}
                            </div>
                            {{else}}
                            <div class="empty">Ответов пока нет</div>
                            {{end}}
                        </div>
                    </div>
                </div>
                {{else}}
                <p class="empty">Вопросов нет</p>
                {{end}}
            </div>
        </div>
    </div>
</main>

{{ template "footer" . }}
</body>
</html>