<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
</head>
<body>
{{ template "header" . }}

<main>
    <div class="container">
        <h3>{{.question.ID}}. {{.question.Text}}</h3>
        <span>Тема: {{.question.TopicName}}</span>

        {{if .question.Code}}
        <script>hljs.highlightAll();</script>
        <pre><code class="go">{{.question.Code}}</code></pre>
        {{end}}

        <div class="answers" id="answers">
            {{range .question.Answers}}
            <button class="answer" data-id="{{.ID}}">
                {{.Text}}
            </button>
            {{end}}
        </div>

        <p id="result" class="hidden"></p>
        <p id="explanation" class="explanation hidden"></p>
        <div id="continueBtn" class="btn" style="visibility: hidden; text-align: center">
            Продолжить
        </div>
    </div>
</main>

{{ template "footer" . }}

<script>
    const questionID = "{{.question.ID}}";
    const buttons = document.querySelectorAll(".answer");
    const result = document.getElementById("result");
    const explanation = document.getElementById("explanation");

    const continueBtn = document.getElementById("continueBtn")
    continueBtn.addEventListener("click", () => {
        window.location.reload();
    })

    buttons.forEach(btn => {
        btn.addEventListener("click", async () => {
            const answerID = Number(btn.dataset.id);

            // Очищаем предыдущие подсветки
            buttons.forEach(b => {
                b.classList.remove("correct", "wrong");
            });

            const resp = await fetch("/quiz/check", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    question_id: Number(questionID),
                    answer_id: answerID
                })
            });
            const data = await resp.json();

            result.classList.remove("hidden");

            if (data.correct) {
                btn.classList.add("correct");

                result.classList.remove("bad");
                result.classList.add("ok");

                if (data.explanation) {
                    explanation.classList.remove("hidden");
                    result.innerText = "Правильно!";
                    explanation.innerText = data.explanation;
                    continueBtn.style.visibility = "visible";
                } else {
                    result.innerText = "Правильно!";
                    setTimeout(() => {
                        window.location.reload();
                    }, 700);
                }
            } else {
                btn.classList.add("wrong");
                result.innerText = "Неправильно 😞";
                result.classList.remove("ok");
                result.classList.add("bad");
            }
        });
    });
</script>

</body>
</html>