<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/common/ui.js" defer></script>
    <script src="/static/js/components/register.js" defer></script>
</head>
<body>
{{ template "header" . }}

<main>
    <div class="container">
        <div class="auth-box">
            <form class="form-add" method="POST" action="/register">
                {{ template "component.inputWithClear" dict
                "Name" "login"
                "Placeholder" "Введите логин"
                "MaxLength" "30"
                "Required" "true"
                "Autofocus" "true"
                }}
                {{ template "component.inputWithClear" dict
                "Name" "password"
                "Placeholder" "Введите пароль"
                "Type" "password"
                "MaxLength" "255"
                "Required" "true"
                }}

                {{ template "component.inputWithClear" dict
                "Name" "username"
                "Placeholder" "Введите никнейм"
                "MaxLength" "30"
                "Required" "true"
                }}

                {{ template "component.inputWithClear" dict
                "Name" "email"
                "Placeholder" "Введите вашу почту"
                "Type" "email"
                "MaxLength" "30"
                "Required" "true"
                }}

                <label><input value="user" disabled></label>
                <input type="hidden" name="role" value="user">
                <label><input name="color" placeholder="Color" value="#FF5733" readonly></label>

                {{if .error}}<span class="error-msg">{{.error}}</span>{{end}}
                <button id="submitBtn" class="btn btn-primary" type="submit">Создать аккаунт</button>

                <span>
                <a href="/login">Вход</a>
            </span>
            </form>
        </div>
    </div>
</main>
</body>
</html>