<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
{{ template "header" . }}

<main>
    <div class="container">
        <div class="auth-box">
            <form class="form-add" method="POST" action="/register">
                {{ template "component.inputWithClear" dict
                "Name" "login"
                "Placeholder" "Введите логин"
                "MaxLength" "30"
                "Required" "true"
                }}
                {{ template "component.inputWithClear" dict
                "Name" "password"
                "Placeholder" "Введите пароль"
                "Type" "password"
                "MaxLength" "255"
                "Required" "true"
                }}

                {{ template "component.inputWithClear" dict
                "Name" "username"
                "Placeholder" "Введите никнейм"
                "MaxLength" "30"
                "Required" "true"
                }}

                {{ template "component.inputWithClear" dict
                "Name" "email"
                "Placeholder" "Введите вашу почту"
                "Type" "email"
                "MaxLength" "30"
                "Required" "true"
                }}

                <label><input value="user" disabled></label>
                <input type="hidden" name="role" value="user">
                <label><input name="color" placeholder="Color" value="#FF5733" readonly></label>

                {{if .error}}<span class="error-msg">{{.error}}</span>{{end}}
                <button id="submitBtn" class="btn" type="submit">Создать аккаунт</button>

                <span>
                <a href="/login">Вход</a>
            </span>
            </form>
        </div>
    </div>
</main>

{{ template "footer" . }}

<script type="module" src="/static/js/bundle.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const loginInput = document.querySelector('input[name="login"]')
        const passwordInput = document.querySelector('input[name="password"]')
        const emailInput = document.querySelector('input[name="email"]')
        const usernameInput = document.querySelector('input[name="username"]')
        const submitBtn = document.getElementById("submitBtn")

        loginInput.addEventListener("input", () => {
            const v = loginInput.value.trim();

            if (v) {
                passwordInput.value = v;
                emailInput.value = `${v}@mail.ru`;
                usernameInput.value = `User${v}`.slice(0, 30);
            }

            updateState()
        })

        passwordInput.addEventListener("input", updateState);
        emailInput.addEventListener("input", updateState);
        usernameInput.addEventListener("input", updateState);

        function updateState() {
            const login = loginInput.value.trim();
            const password = passwordInput.value.trim();
            const email = emailInput.value.trim();
            const username = usernameInput.value.trim();
            setDisabledSubmitBtn(login, password, email, username);
        }

        function setDisabledSubmitBtn(login, password, email, username) {
            submitBtn.disabled = login === "" || password === "" || email === "" || username === "";
        }

        updateState();
    })
</script>
</body>
</html>