<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/common/ui.js" defer></script>
    <script src="/static/js/components/sign_up.js" defer></script>
</head>
<body>
{{ template "header" . }}

<main>
    <div class="container">
        <div class="auth-box">
            <form class="form-add" method="POST" action="/register">
                <p>Логин</p>
                {{ template "component.inputWithClear" dict
                "Name" "login"
                "Placeholder" "Введите логин"
                "MaxLength" "30"
                "Required" "true"
                "Autofocus" "true"
                }}
                <p>Пароль</p>
                {{ template "component.inputWithClear" dict
                "Name" "password"
                "Placeholder" "Введите пароль"
                "Type" "password"
                "MaxLength" "255"
                "Required" "true"
                }}
                <p>Никнейм</p>
                {{ template "component.inputWithClear" dict
                "Name" "username"
                "Placeholder" "Введите никнейм"
                "MaxLength" "30"
                "Required" "true"
                }}
                <div class="hint">Можно оставить автоматически сгенерированный</div>
                <p>Роль</p>
                <label>
                    <select name="role" id="roleSelect">
                        <option value="moderator">Модератор</option>
                        <option value="user">Пользователь</option>
                    </select>
                </label>
                <div id="roleHint" class="hint"></div>

                <label><input name="color" placeholder="Color" value="#FF5733" readonly hidden="hidden"></label>

                {{if .error}}<span class="error-msg">{{.error}}</span>{{end}}
                <button id="submitBtn" class="btn btn-primary" type="submit">Создать аккаунт</button>

                <span>
                <a href="/login">Вход</a>
            </span>
            </form>
        </div>
    </div>
</main>
</body>
</html>