<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Задачи</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
{{ template "header" . }}

<main>
    <div class="container">
        <form class="form-add" action="/tasks" method="POST" style="margin-bottom: var(--space-2)">
            <label>
                <input type="text" name="name" placeholder="Наименование задачи" required>
            </label>
            <label>
                <textarea name="description" placeholder="Описания задачи"></textarea>
            </label>
            <label>
                <input type="checkbox" name="completed">Выполнена
            </label>
            <div>
                <button type="submit" class="btn btn-primary">
                    <div class="icon-item">
                        <i class="fa-solid fa-plus"></i>
                        <span>Создать задачу</span>
                    </div>
                </button>
            </div>
        </form>

        <div>
            <hr/>
        </div>

        <div class="scrollable-wrapper">
            <div class="scrollable-content" id="scrollable">
                <div class="list">
                    {{range .Tasks}}
                    <div class="item {{if .Completed}}completed{{end}}" id="task-{{.ID}}">
                        <div class="item-info">
                            <h3>{{.Name}}</h3>
                            <p>{{.Description}}</p>
                            <small>Создана: {{.CreatedAt.Format "02.01.2006 15:04"}}</small>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox"
                                       name="completed"
                                       {{if .Completed}}checked{{end}}
                                       onchange="toggleCompleted('{{.ID}}', this.checked)"
                                >Выполнена
                            </label>

                            <button class="btn btn-danger btn-sm" onclick="deleteTask('{{.ID}}')"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                    {{else}}
                    <p class="empty">Список задач пуст</p>
                    {{end}}
                </div>
            </div>
            <button class="scroll-top-btn" id="scrollTopBtn" title="Наверх">↑</button>
        </div>


    </div>
</main>

<script type="module" src="/static/js/bundle.js"></script>
<script>
    async function deleteTask(id) {
        if (!confirm('Удалить задачу?')) return;

        const res = await fetch(`/tasks/${id}`, { method: 'DELETE' });
        if (res.ok) {
            document.getElementById(`task-${id}`).remove();
        } else {
            alert('Error deleting task');
        }
    }

    async function toggleCompleted(id, completed) {
        const res = await fetch(`/tasks/${id}`, {
            method: 'PUT',
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ completed })
        });

        if (!res.ok) {
            const data = await res.json().catch(() => ({}));
            alert("Error task updating: " + (data.error || res.statusText));
            return;
        }

        // Меняем стиль строки без обновления страницы
        const li = document.getElementById(`task-${id}`);
        if (completed) {
            li.classList.add("completed");
        } else {
            li.classList.remove("completed");
        }
    }
</script>
</body>
</html>