<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/github-dark.min.css">
    <script src="/static/js/lib/highlight.min.js"></script>
    <script src="/static/js/components/test.js" defer></script>
</head>
<body>
{{ template "header" . }}

<main>
    <div id="quiz" data-question-id="{{.question.ID}}"></div>

    <div class="container">
        <h3>{{.question.ID}}. {{.question.Text}}</h3>
        <span style="margin-bottom: var(--space-2)">Тема: {{.question.TopicName}}</span>

        {{if .question.Code}}
            <pre><code class="language-go">{{.question.Code}}</code></pre>
        {{end}}

        {{range .question.Answers}}
        <button class="answer" data-id="{{.ID}}">
            {{.Text}}
        </button>
        {{end}}

        <div class="stack">
            <p id="result" class="hidden"></p>
            <p id="explanation" class="panel hidden" style="width: 100%"></p>

            <button id="continueBtn" class="btn btn-primary" hidden>
                Продолжить
            </button>

        </div>
    </div>
</main>
<script>hljs.highlightAll();</script>
</body>
</html>