<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
{{ template "header" . }}

<main>
    <div class="container">
        <div class="scrollable-content">
            <div class="list">
                {{range .Users}}
                <div class="item" id="user-{{.ID}}">
                    <div class="item-info">
                        <h3>{{.Login}} (ID {{.ID}})</h3>
                        <p>Username: {{.Username}}</p>
                        <p>Role: {{.Role}}</p>
                        <p>E-mail: {{.Email}}</p>
                    </div>
                    <div>
                        <button class="btn-small btn-danger" onclick="deleteUser('{{.ID}}')"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
                {{else}}
                <p class="empty">No users</p>
                {{end}}
            </div>
        </div>
    </div>
</main>

{{ template "footer" . }}
<script>
    async function deleteUser(id) {
        if (!confirm('Delete user?')) return;

        const res = await fetch(`/users/${id}`, { method: 'DELETE' });
        if (res.ok) {
            document.getElementById(`user-${id}`).remove();
        } else {
            const data = await res.json();
            alert(data.error || 'Error deleting user');
        }
    }
</script>
</body>
</html>