.toc {
    display: flex;
    flex-direction: column;
}

.toc a.sub {
    padding-left: 24px;
}

.chapter {
    display: flex;
    flex-direction: column;
    gap: 0.7rem; /*1rem = font-size у html*/
}

.chapter h1 {
    /*1em = размер шрифта текущего элемента*/
    font-size: 1.7em;
}

.chapter h2 {
    font-size: 1.4em;
}

.chapter h3 {
    font-size: 1.2em;
}