.answer {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    background: #313335;
    color: #eee;
    border: 1px solid #444;
    cursor: pointer;
    text-align: left;
    transition: 0.2s;
}

.answer:hover {
    background: #3a3d41;
}

.answer.correct {
    background: #2e6230 !important;
    border-color: #3fa34d;
}

.answer.wrong {
    background: #622e2e !important;
    border-color: #d9534f;
}

#result.ok {
    color: #4CAF50;
}

#result.bad {
    color: #F44336;
}

.hidden {
    display: none;
}

.explanation {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    background: var(--bg-item);
    border: var(--border-1);
    padding: var(--space-4);
    border-radius: var(--radius-md);
    /*transition: background 0.2s;*/
}
