@import url("/static/css/fontawesome-7_1_0.min.css");
@import url("/static/css/base/variables.css");
@import url("/static/css/base/reset.css");
@import url("/static/css/base/globals.css");
@import url("/static/css/base/typography.css");

@import url("/static/css/ui/panels.css");
@import url("/static/css/ui/buttons.css");
@import url("/static/css/ui/forms.css");
@import url("/static/css/ui/scroll.css");
@import url("/static/css/ui/404.css");
@import url("/static/css/ui/index.css");

@import url("/static/css/components/book.css");
@import url("/static/css/components/test.css");

.menu,
.container {
    background: var(--bg-panel);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    min-width: var(--layout-min-width);
    max-width: var(--layout-max-width);
    margin: var(--space-2) auto;
    padding: var(--space-2);
    width: 100%;
}

a, .link {
    color: var(--color-primary);
    text-decoration: none;
}

a:not(.btn):not(.btn-small):not(.btn-danger):hover {
    color: var(--color-warning);
}

a.btn.disabled {
    background: #888;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

.error-msg {
    color: var(--color-error);
    font-weight: 600;
    margin-top: 8px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    gap: var(--space-2);
}

.menu > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--space-2);
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;

    min-height: 0;
    overflow: hidden;
}

.form-add {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--bg-item);
    border: var(--border-1);
    padding: var(--space-4);
    border-radius: var(--radius-md);
    transition: background 0.2s;
}

.item h3,
.item p {
    margin: 0;
}

.item-info {
    flex: 1
}

.item.completed {
    opacity: 0.6;
    text-decoration: line-through;
}

.item:hover {
    background: var(--bg-item-hover);
}

.empty {
    text-align: center;
    color: #777;
}

.chat {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    flex: 1;
    min-height: var(--space-0);
}

#status {
    padding: var(--space-2) var(--space-3);
    background: var(--bg-panel);
    border-radius: var(--radius-sm);
    font-size: 12px;
    text-align: center;
    color: var(--color-primary-hover);
    border: var(--border-1);
}

/* Общий контейнер сообщений*/
.chat-messages {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: var(--border-1);
    padding: var(--space-4);
    border-radius: var(--radius-md);
    overflow-y: auto;
    background: var(--bg-main);
    gap: var(--space-3);
    min-height: var(--space-0);
}

/* Стили для всех сообщений */
.chat-messages > .chat-message {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    padding: var(--space-3) var(--space-4);
    border-radius: var(--radius-lg);
    word-wrap: break-word;
    animation: fadeIn 0.3s ease-in;
    gap: 4px;
}

/* Заголовок (ник) */
.chat-message-header {
    font-size: 0.8rem;
    opacity: 0.7;
}

/* Текст */
.chat-message-body {
    font-size: 1rem;
    line-height: 1.4;
}

/* Подвал (время) */
.chat-message-footer {
    text-align: end;
    font-size: 0.8rem;
    opacity: 0.7;
}

/* Сообщения других пользователей (слева) */
.chat-messages > div:not(.chat-my-message) {
    background: var(--bg-panel);
    border: var(--border-1);
    color: var(--text);
    align-self: flex-start;
    border-bottom-left-radius: var(--radius-sm);
}

/* Ваши сообщения (справа) */
.chat-messages > div.chat-my-message {
    background: var(--color-primary);
    color: white;
    align-self: flex-end;
    text-align: left;
    border-bottom-right-radius: var(--radius-sm);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.chat-messages > div:hover {
    opacity: 0.9;
    transition: opacity 0.2s ease;
}

/* Общий компонент ввода и отправки сообщения */
.chat-input-row {
    display: flex;
    flex-direction: row;
    gap: var(--space-2);
}

/* Компонент ввода сообщения */
.chat-message-input {
    flex: 1;
    padding: var(--space-3) var(--space-4);
    border-radius: var(--radius-lg);
    font-size: 14px;
}

/* Компонент кнопки отправки сообщения */
.chat-input-row .btn {

}

.input-wrap {
    flex: 1;
    position: relative;
}

.clear-btn {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: var(--text);
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
}

.auth-box {
    min-width: 450px;
    max-width: 450px;
    margin: var(--space-10) auto;
    padding: var(--space-4);
    background: var(--bg-panel);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
}

.icon-item {
    display: inline-flex;
    align-items: center;
    gap: var(--space-1);
}

.messages-control {
    display: flex; flex-direction: row; gap: 5px; align-items: center;
}

@media (max-width: 880px) {
    .greetings {
        display: none;
    }
}

@media (max-width: 600px) {
    .menu .icon-item span {
        display: none;
    }
}