.react-btn {
    background: #FA541C !important;;
    position: absolute;
    right: 0;
}

/* ---------- База ---------- */
.btn {
    font-family: "JetBrains Mono", monospace;
    padding: var(--space-2) var(--space-4);
    border-radius: var(--radius-md);
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;

    border: none;
    user-select: none;
    white-space: nowrap;

    background: var(--btn-bg);
    color: var(--btn-color);

    transition:
            background 0.15s ease,
            color 0.15s ease,
            transform 0.12s ease;
}

[hidden] {
    display: none !important;
}

/* ---------- Типы ---------- */
.btn-primary {
    --btn-bg: var(--color-primary);
    --btn-bg-hover: var(--color-primary-hover);
    --btn-color: #fff;
}

.btn-danger {
    --btn-bg: var(--color-danger);
    --btn-bg-hover: var(--color-danger-hover);
    --btn-color: #fff;
}

.btn-default {
    --btn-bg: var(--bg-item);
    --btn-bg-hover: var(--bg-item-hover);
    --btn-color: #e5e7eb;
}

/* ---------- Размеры ---------- */
.btn-sm {
    padding: var(--space-1) var(--space-3);
    font-size: 12px;
}

.btn-lg {
    padding: var(--space-3) var(--space-6);
    font-size: 15px;
    border-radius: var(--radius-lg);
}

/* ---------- Наведение ---------- */
.btn:not(.active):hover {
    background: var(--btn-bg-hover);
}

.btn-primary:not(.active):hover,
.btn-danger:not(.active):hover {
    transform: translateY(-1px);
}

.btn-default:hover {
    transform: none;
}

/* ---------- Active / Current ---------- */
.btn.active,
.btn[aria-current="true"] {
    background: var(--color-primary-active);
    transform: none;
    cursor: default;

    box-shadow:
            inset 0 0 0 2px rgba(255, 255, 255, 0.18);
}

/* ---------- Блокировка ---------- */
.btn:disabled,
.btn[aria-disabled="true"] {
    background: var(--color-disabled);
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
    transform: none;
}

/* ---------- Фокусировка ---------- */
.btn:focus {
    outline: none;
}

.btn:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}