.scrollable-content {
    flex: 1;
    overflow-y: auto;
    min-height: var(--space-0);
    margin: var(--space-0);
}

*::-webkit-scrollbar {
    width: var(--space-2);
    height: var(--space-2);
}

*::-webkit-scrollbar-track {
    background: var(--bg-panel);
}

*::-webkit-scrollbar-thumb {
    background: #4d4e51;
    border-radius: var(--radius-sm);
}

*::-webkit-scrollbar-thumb:hover {
    background: #5b5c5d;
}