.scrollable-wrapper {
    position: relative;
    flex: 1;
    min-height: 0;
}

.scrollable-content {
    flex: 1;
    overflow-y: auto;
    min-height: var(--space-0);
    margin: var(--space-0);
    height: 100%;
}

/* Кнопка */
.scroll-top-btn {
    position: absolute;
    right: 12px;
    bottom: 12px;

    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;

    background: var(--accent, #4f46e5);
    color: #fff;
    font-size: 18px;
    cursor: pointer;

    opacity: 0;
    pointer-events: auto;
    transform: translateY(10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

/* Когда видна */
.scroll-top-btn.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.scroll-top-btn:not(.visible) {
    pointer-events: none;
}

*::-webkit-scrollbar {
    width: var(--space-2);
    height: var(--space-2);
}

*::-webkit-scrollbar-track {
    background: var(--bg-panel);
}

*::-webkit-scrollbar-thumb {
    background: #4d4e51;
    border-radius: var(--radius-sm);
}

*::-webkit-scrollbar-thumb:hover {
    background: #5b5c5d;
}