{{ define "book.common" }}
<h1>Типы данных</h1>
<h2>Простые</h2>
<span>
    <code>int</code> - целое число (32 или 64 бита, зависит от платформы)<br>
    <code>byte</code> - то же самое, что и <code>uint8</code><br>
    <code>bool</code> - логический тип<br>
    <code>rune</code> - один символ ('Y') это под капотом <code>int32</code><br>
</span>

<h2>Математические</h2>
<span>Имеют ошибку точности, для точных данных, к примеру денег лучше использовать Decimals</span>
<span>float32, float64</span>
<span>complex64, complex128</span>

<h2>Составные</h2>
<span>
    <code>array</code> - массив [3]int{1, 2, 3}<br>
    <code>slice</code> - срез []int{1, 2, 3}<br>
    <code>map</code> - карта map[string]int<br>
    <code>string</code> - строка immutable, из изменять нельзя<br>
    <code>struct</code> - структура
</span>

<h2>Другие</h2>
<span>
    <code>error</code> - ошибка<br>
    <code>chat chan [T]</code> - канал
</span>

<h1>Прочее</h1>
<span>Сколько занимает переменная: <code>unsafe.SizeOf(a)</code></span>

<h1>Изменения</h1>
<h2>1.22</h2>
<h3>Изменения в самом языке</h3>
<h4>Новый семантика переменных в цикле <code>for</code></h4>
<ul>
    <li>Теперь переменные, объявленные в цикле for, создаются заново на каждой итерации.
        Это устраняет распространённую «подводную камень» с замыканиями в циклах (например, при запуске горутин).
        Раньше одна переменная обновлялась каждый раз, что приводило к неожиданным результатам в замыканиях — теперь такая ошибка исключена по умолчанию.</li>
</ul>
<h4>for … range over integers</h4>
<ul>
    <li>Добавлена возможность писать циклы вроде:</li>
</ul>
<pre><code class="language-go">for i := range 10 {
    fmt.Println(i)
}</code></pre>
<h2>1.24</h2>
Maps теперь основаны на Swiss Tables<br>
synctest<br>

{{ end }}