{{ define "book.common" }}
<h1>Типы данных</h1>
<h2>Простые</h2>
<span>
    <code>int</code> целое число (32 или 64 бита, зависит от платформы)<br>
    byte тоже самое, что и uint8<br>
    bool true<br>
    rune один символ типа 'Y'<br>
</span>

<h2>Математические</h2>
<span>float32, float64</span>
<span>complex32, complex64</span>

<h2>Составные</h2>
<span>
    array [3]int{1, 2, 3}<br>
    slice []int{1, 2, 3}<br>
    map map[string]int<br>
    string строки immutable, из изменять нельзя<br>
    struct
</span>
<span></span>

<h2>Другие</h2>
<span>
    error <br>
    chat chan int
</span>


<h1>Изменения</h1>
<h2>1.22</h2>
<h3>Изменения в самом языке</h3>
<h4>Новый семантика переменных в цикле <code>for</code></h4>
<ul>
    <li>Теперь переменные, объявленные в цикле for, создаются заново на каждой итерации.
        Это устраняет распространённую «подводную камень» с замыканиями в циклах (например, при запуске горутин).
        Раньше одна переменная обновлялась каждый раз, что приводило к неожиданным результатам в замыканиях — теперь такая ошибка исключена по умолчанию.</li>
</ul>
<h4>for … range over integers</h4>
<ul>
    <li>Добавлена возможность писать циклы вроде:</li>
</ul>
<pre><code class="language-go">for i := range 10 {
    fmt.Println(i)
}</code></pre>
<h2>1.24</h2>
Maps теперь основаны на Swiss Tables<br>
synctest<br>

{{ end }}