<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админка (Пользователи)</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

{{ template "header" . }}

<main>
    <div class="container">
        <div class="list">
            {{range .Users}}
            <div class="item" id="user-{{.ID}}">
                <div class="item-info">
                    <h3>{{.Login}} (ID {{.ID}})</h3>
                    <p>Username: {{.Username}}</p>
                    <p>Role: {{.Role}}</p>
                    <p>E-mail: {{.Email}}</p>
                </div>
                <div>
                    <button class="btn btn-danger btn-sm" onclick="deleteUser('{{.ID}}')"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
            {{else}}
            <p class="empty">Нет пользователей</p>
            {{end}}
        </div>
    </div>
</main>
<script>
    async function deleteUser(id) {
        if (!confirm('Удалить пользователя?')) return;

        const res = await fetch(`/users/${id}`, { method: 'DELETE' });
        if (res.ok) {
            document.getElementById(`user-${id}`).remove();
        } else {
            const data = await res.json();
            alert(data.error || 'Error deleting user');
        }
    }
</script>
</body>
</html>