{{ define "admin/grpc_content" }}
<div>
    <button id="sayHelloBtn" class="btn btn-primary">SayHello</button>
    <button id="pingHelloBtn" class="btn btn-primary">PingHello</button>
    <span id="result"></span>
</div>

<script type="module">
    import {sayHello, ping, getCookie} from '/static/js/bundle.js';

    const resultBox = document.getElementById('result');
    const sayHelloBtn = document.getElementById('sayHelloBtn');
    const pingBtn = document.getElementById('pingHelloBtn');
    const token = getCookie("vago_token");

    function setStatus(message, isError = false) {
        resultBox.textContent = (isError ? '❌ ' : '✅ ') + message + '\n';
    }

    sayHelloBtn.addEventListener('click', async () => {
        sayHello("Вадим", token)
            .then((resp) => {
                setStatus("Response: " + resp.getMessage());
            })
            .catch((err) => {
                setStatus("Error, " + err, true);
            });
    })

    pingBtn.addEventListener('click', async () => {
        ping()
            .then((resp) => {
                setStatus("Response: " + resp.getRun());
            })
            .catch((err) => {
                setStatus("Error, " + err, true);
            });
    })
</script>

{{ end }}