name: Build & Push Docker

on:
  push:
    branches:
      - master

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Who am I
        run: |
          echo "actor=${{ github.actor }}"
          echo "repo=${{ github.repository }}"
          echo "sha = ${{ github.sha }}"

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ghcr.io/vadmark223/vago:latest
            ghcr.io/vadmark223/vago:${{ github.sha }}

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VDS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VDS_HOST }}
          username: ${{ secrets.VDS_USER }}
          key: ${{ secrets.VDS_SSH_KEY }}
          port: 2499
          script: |
            cd ~/vago
            docker compose pull
            docker compose up -d --remove-orphans
            docker image prune -f
