{{ define "component.inputWithClear" }}
<div class="input-wrap">
        <input
                {{ if .ID }}id="{{ .ID }}"{{ end }}
                {{ if .Class }}class="{{ .Class }}"{{ end }}
                name="{{ .Name }}"
                placeholder="{{ .Placeholder }}"
                {{ if .Type }}type="{{ .Type }}"{{ end }}
                {{ if .MaxLength }}maxLength="{{ .MaxLength }}"{{ end }}
                {{ if .Required }}data-required="true"{{ end }}
                aria-label="{{ .Placeholder }}"
        >

    <button type="button" class="clear-btn" data-clear aria-label="clear-btn">×</button>
</div>
{{ end }}