{{ define "task.go1" }}
<h1>Задача 1</h1>
<span>Имеется некая функция <code>getText()</code> которая выполняется неизвестное кол-во времени и возвращает <code>string</code>,
    необходимо это контролировать, саму функцию менять нельзя.</span>
<pre><code class="language-go">const workTime = 2 * time.Second
ch := make(chan string, 1)
ctx, cancel := context.WithTimeout(context.Background(), waitTime)
defer cancel()

go func(readCh chan<- string) {
    fmt.Println("Стартуем горутину.")
    result := getText()
    select {
    case readCh <- result:
        fmt.Println("Получен результат в горутине:", result)
    case <-ctx.Done(): // Защита от блокировки на отправку, если главный поток уже вышел по cxt.Done()
        fmt.Println("Контекст выполнился, завершаем горутину.")
    }
}(ch)

select {
case msg := <-ch:
    fmt.Println("Результат получен в главном потоке:", msg)
case <-ctx.Done():
    fmt.Println("Контекст завершился: ", ctx.Err())
}

fmt.Println("Выходим из главного потока.")</code></pre>
{{ end }}